<% provide(:title, "PDFZAPIER") %>
<section id="banner">
  <div class="pdf-container">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-xs-right justify-content-md-center ">
          <div class="banner-container">
          <h1 class="text-left" data-aos="fade-down">Automatically Create and Edit PDFs right from zapier</h1>
          <p class="text-left" data-aos="fade-down">... and if you havem't tried Zapier before, we'll get you set up with Zapier $ PDf ZapMe in one easy step!</p>
          <div data-aos="fade-up">
            <%= link_to 'Try it for Free!', membership_path, class: 'btn' %>
          <div>
            <button class="btn-shadow aos-init aos-animate" data-aos="fade-up"></button></div>
          </div>
          </div>
        </div>
    </div>
  </div>
  </div>
</section>
<section id="introduction">
  <div class="pdf-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <h2 class="font-weight-bold section-title aos-init aos-animate" data-aos="fade-down">How Does it Work?</h2>
          <h2 class="make" aos-init aos-animate" data-aos="fade-up">Make and Edit PDFs right inside Zapier</h2>
          <p aos-init aos-animate" data-aos="fade-up">You already know Zapier is your automation guru, connecting apps like Dropbox, Google Docs and more.But what happens when you hit a dead end?</p>
          <h2 class="font-weight-bold" aos-init aos-animate" data-aos="fade-up">Introducing PDF ZapME!</h2>
          <p class="aos-init aos-animate" data-aos="fade-up">PDF ZapMe lets you edit PDFs seamlessly right inside Zapier:Delete, move, add new pages, and more!
          If you're new to zapier we'll make your free Zapier profile automatically, try PDF ZapMe today and get started with a 14 day free trial!</p>
          <p aos-init aos-animate" data-aos="fade-up">PDF ZapMe- See how easy PDF editing can be.</p>
          <div class="aos-init aos-animate" data-aos="fade-up">
            <%= link_to 'Try it for Free!', membership_path, class: 'btn pdf-btn font-weight-bold' %>
          </div>
          <div class="try-shadow"></div>
        </div>
        <div class="intro-pic col-lg-4 col-md-4 col-sm-12 col-xs-12 aos-init aos-animate" data-aos="fade-left">
        </div>
      </div>
    </div>
  </div>
</section>
<section id="started">
  <div class="container" id="top-container">
    <h2 class="font-weight-bold text-center section-title" data-aos="fade-down">Here are some common use cases to get you started!</h2>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 convert-div" data-aos="fade-zoom-in"
           data-aos-easing="ease-in-back"
           data-aos-delay="300"
           data-aos-offset="0">
              <h5 class="text-center">Convert Emails</h5>
              <p class="text-center">Trigger a NEw email, Automatically convert it to a PDF and save it directly to your Dropbox shares</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 signature-div" data-aos="fade-zoom-in"
           data-aos-easing="ease-in-back"
           data-aos-delay="300"
           data-aos-offset="0">
          <h5 class="text-center">Add Signature Page</h5>
          <p class="text-center">Trigger new signature email from a client, automatically append it to the end of and existing PDF contract right in your shared files</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 existing-div" data-aos="fade-zoom-in"
           data-aos-easing="ease-in-back"
           data-aos-delay="300"
           data-aos-offset="0">
          <h5 class="text-center">Add Company Header to Existing PDF</h5>
          <p class="text-center">Mark contract drafts with company identifying information for documentation purposes</p>
        </div>
      </div>
  </div>
  <div class="container" id="bottom-container">
    
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 signature-div" data-aos="fade-up"
       data-aos-anchor-placement="top-bottom">
          <h5 class="text-center">Add Signature Page</h5>
          <p class="text-center">Trigger new signature email from a client, automatically append it to the end of and existing PDF contract right in your shared files</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 existing-div" data-aos="fade-up"
       data-aos-anchor-placement="top-bottom">
          <h5 class="text-center">Add Company Header to Existing PDF</h5>
          <p class="text-center">Mark contract drafts with company identifying information for documentation purposes</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 convert-div" data-aos="fade-up"
       data-aos-anchor-placement="top-bottom">
          <h5 class="text-center">Convert Emails</h5>
          <p class="text-center">Trigger a NEw email, Automatically convert it to a PDF and save it directly to your Dropbox shares</p>
        </div>
    </div>
  </div>
</section>
<section id="list">
  <div class="pdf-container">
      <h1 class="text-center" aos-init aos-animate" data-aos="fade-down">Automatic PDF creation and editing <br>at your fingertips</h1>
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 mobile-hidden"></div>
        <div class="col-lg-2 col-md-10 col-sm-12 col-xs-12" data-aos="fade-up"
     data-aos-anchor-placement="center-center" data-aos-delay="100">
          <div class="list-img-1 list-back">
          </div>
          <h5 class="text-center">Add Pages</h5>
          <p class="text-center">Add new pages to documents</p>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up"
     data-aos-anchor-placement="center-center" data-aos-delay="200">
          <div class="list-img-2 list-back">
          </div>
          <h5 class="text-center">Delete Pages</h5>
          <p class="text-center">Remove pages that aren't needed</p>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up"
     data-aos-anchor-placement="center-center" data-aos-delay="300">
          <div class="list-img-3 list-back">
          </div>
          <h5 class="text-center">Add Headers $ Footers</h5>
          <p class="text-center">Pring titles or descriptions to the full document</p>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up"
     data-aos-anchor-placement="center-center" data-aos-delay="400">
          <div class="list-img-4 list-back">
          </div>
          <h5 class="text-center">Merge </h5>
          <p class="text-center">Merge PDFs into one document</p>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up"
     data-aos-anchor-placement="center-center" data-aos-delay="500">
          <div class="list-img-5 list-back">
          </div>
          <h5 class="text-center">Rotate</h5>
          <p class="text-center">Select individual pages or ranges</p>
        </div>
    </div>
  </div>
</section>
<section id="video">
  <div class="container">
    <h1 class="text-center section-title" aos-init aos-animate" data-aos="fade-down">How it works</h1> 
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 video-container">             
    <iframe title="WordParts Value Proposition" allowfullscreen="allowfullscreen" src="https://www.youtube-nocookie.com/embed/vi6K7XF-6eg?rel=0&controls=0&showinfo=0" width="100%"></iframe>
    </div>  
    <div data-aos="fade-up">
    <%= link_to 'Start your free trial Today!', membership_path, class: 'btn pdf-btn font-weight-bold' %>
    </div>
  </div>
  <div class="pdf-container video-back"></div>
</section>
<section id="zapier-new">
  <div class="pdf-container">
    <h1 aos-init aos-animate" data-aos="fade-down">New to Zapier</h1>
    <p aos-init aos-animate" data-aos="fade-up">Try PDF ZapMe and we'll make your free Zapier profile automatically!</p>
    <div class="aos-init aos-animate" data-aos="fade-up">
    <%= link_to 'Try for free', membership_path, class: 'btn' %>
    </div>
  </div>
</section>
<section id="pricing" class="text-center">
  <div class="container">
    <h1 class="section-title aos-init aos-animate" data-aos="fade-down">Very Affordable Pricing</h1>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-aos="fade-right">
                <h2 class="card-title price"><span><span class="currency">$</span>6</span></h2>
                <div class="card">
                  <div class="card-block">
                    <h2 class="card-title text-center">Per Month</h2>
                    <p class="card-text text-center">Try it out for 14 days free!</p>
                  </div>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item text-center">Zapier Account Creation</li>
                      <li class="list-group-item">Generate Zapier API</li>
                      <li class="list-group-item">Edit PDFs in Zapier</li>
                      <li class="list-group-item">Monthly Analytics</li>
                  </ul>
                  <div class="card-block card-btn">
                      <%= link_to 'Start your trial today!', membership_path, class: 'btn font-weight-bold' %>
                  </div>
                </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-aos="fade-left">
          <h2 class="card-title price"><span>2</span></h2>
          <div class="card">
            <div class="card-block">
              <h2 class="card-title text-center">MONTHS FREE</h2>
              <p class="card-text text-center">Get 2 months free!</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Zapier Account Creation</li>
                <li class="list-group-item">Generate Zapier API</li>
                <li class="list-group-item">Edit PDFs in Zapier</li>
                <li class="list-group-item">Monthly Analytics</li>
            </ul>
            <div class="card-block">
                <%= link_to 'Get Started', membership_path, class: 'btn font-weight-bold' %>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>