<% provide(:title, "PDFZAPIER") %>
<section id="banner">
  <div class="pdf-container">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" data-aos="zoom-in" data-aos-delay="300" data-aos-duration="600">
          <%= image_tag 'LogoMark_black.png', class: 'attention', alt: '' %>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-xs-right justify-content-md-center ">
          <div class="banner-container">
          <h1 class="text-center-mobile" data-aos="fade-down">Automatically Create and Edit PDFs right from zapier</h1>
          <p class="text-center-mobile" data-aos="fade-down">... and if you havem't tried Zapier before, we'll get you set up with Zapier _ PDf ZapMe in one easy step!</p>
          <div data-aos="fade-up">
            <%= link_to 'Try it for Free!', membership_path, class: 'btn black-btn' %>
          </div>
        </div>
    </div>
  </div>
  </div>
</section>
<section id="introduction">
  <div class="pdf-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <h2 class="font-weight-bold section-title aos-init aos-animate" data-aos="fade-down">How Does it Work?</h2>
          <blockquote class="make" aos-init aos-animate" data-aos="fade-up"><h5>Make and Edit PDFs right inside Zapier</h5></blockquote> 
          <p aos-init aos-animate" data-aos="fade-up">You already know Zapier is your automation guru, connecting apps like Dropbox, Google Docs and more. But what happens when you hit a dead end?</p>
          <h5 class="font-weight-bold" aos-init aos-animate" data-aos="fade-up">Introducing PDF ZapMe!</h5>
          <p class="aos-init aos-animate" data-aos="fade-up">PDF ZapMe lets you edit PDFs seamlessly right inside Zapier:<br>Delete, move, add new pages, and more!<br>
          If you're new to zapier we'll make your free Zapier profile automatically.<br>Try PDF ZapMe today and get started with a 14 day free trial!</p>
          <strong aos-init aos-animate" data-aos="fade-up"><p>See how easy PDF editing can be!</p></strong>
          <div class="aos-init aos-animate" data-aos="fade-up">
            <%= link_to 'Try it for Free!', membership_path, class: 'btn pdf-btn font-weight-bold' %>
          </div>
        </div>
        <div class="intro-pic col-lg-4 col-md-4 col-sm-12 col-xs-12 aos-init aos-animate" data-aos="fade-left">
        </div>
      </div>
    </div>
  </div>
</section>
<section id="started">
  <div class="container" id="top-container">
    <h2 class="font-weight-bold text-center section-title" data-aos="fade-down">Here are some common use cases to get you started!</h2>
    <div class="row" data-aos="fade-up">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 convert-div grey-pattern content-tile" data-aos="fade-zoom-in"
           data-aos-easing="ease-in-back"
           data-aos-delay="300"
           data-aos-offset="0">
           <div class="row pace-low">
             <div class="col-xs-6">
                 <%= image_tag 'pdfz_pdfred.png', class: 'convert-icon', alt: '' %>
             </div>
             <div class="col-xs-6">
                 <%= image_tag 'dropbox_icon.png', class: 'convert-icon', alt: '' %>
             </div>
           </div>
              <h5 class="text-center pace-low">Convert Emails</h5>
              <p class="text-center">Trigger a new email, automatically convert it to a PDF and save it directly to your Dropbox account.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 signature-div white-pattern content-tile" data-aos="fade-zoom-in"
           data-aos-easing="ease-in-back"
           data-aos-delay="300"
           data-aos-offset="0">
           <div class="row pace-low">
             <div class="col-xs-6">
                 <%= image_tag 'pdfz_pdfred.png', class: 'convert-icon', alt: '' %>
             </div>
             <div class="col-xs-6">
                 <%= image_tag 'PDF-Signature-Icon.png', class: 'convert-icon', alt: '' %>
             </div>
           </div>
          <h5 class="text-center">Add Signature Page</h5>
          <p class="text-center">Quickly and easily add a signature page to PDF versions of proposals without having to assemble the original proposal from scratch.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 existing-div black-pattern content-tile" data-aos="fade-zoom-in"
           data-aos-easing="ease-in-back"
           data-aos-delay="300"
           data-aos-offset="0">
           <div class="row pace-low">
             <div class="col-xs-6">
                 <%= image_tag 'pdfz_pdfred.png', class: 'convert-icon', alt: '' %>
             </div>
             <div class="col-xs-6">
                 <%= image_tag 'hf_icon.png', class: 'convert-icon', alt: '' %>
             </div>
           </div>
          <h5 class="text-center">Add Company Header to Existing PDF</h5>
          <p class="text-center">Mark contract drafts with company identifying information for documentation purposes.</p>
        </div>
    </div>
  </div>
  <div class="container" id="bottom-container">
    <div class="row" data-aos="fade-up" data-aos-delay="300">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 existing-div black-pattern content-tile" data-aos="fade-zoom-in"
           data-aos-easing="ease-in-back"
           data-aos-delay="300"
           data-aos-offset="0">
           <div class="row pace-low">
             <div class="col-xs-6">
                 <%= image_tag 'pdfz_pdfred.png', class: 'convert-icon', alt: '' %>
             </div>
             <div class="col-xs-6">
                 <%= image_tag 'hf_icon.png', class: 'convert-icon', alt: '' %>
             </div>
           </div>
          <h5 class="text-center">Add Company Header to Existing PDF</h5>
          <p class="text-center">Mark contract drafts with company identifying information for documentation purposes.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 convert-div grey-pattern content-tile" data-aos="fade-zoom-in"
           data-aos-easing="ease-in-back"
           data-aos-delay="300"
           data-aos-offset="0">
           <div class="row pace-low">
             <div class="col-xs-6">
                 <%= image_tag 'pdfz_pdfred.png', class: 'convert-icon', alt: '' %>
             </div>
             <div class="col-xs-6">
                 <%= image_tag 'dropbox_icon.png', class: 'convert-icon', alt: '' %>
             </div>
           </div>
              <h5 class="text-center pace-low">Convert Emails</h5>
              <p class="text-center">Trigger a new email, automatically convert it to a PDF and save it directly to your Dropbox account.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 signature-div white-pattern content-tile" data-aos="fade-zoom-in"
           data-aos-easing="ease-in-back"
           data-aos-delay="300"
           data-aos-offset="0">
           <div class="row pace-low">
             <div class="col-xs-6">
                 <%= image_tag 'pdfz_pdfred.png', class: 'convert-icon', alt: '' %>
             </div>
             <div class="col-xs-6">
                 <%= image_tag 'PDF-Signature-Icon.png', class: 'convert-icon', alt: '' %>
             </div>
           </div>
          <h5 class="text-center">Add Signature Page</h5>
          <p class="text-center">Quickly and easily add a signature page to PDF versions of proposals without having to assemble the original proposal from scratch.</p>
        </div>
      </div>
    
  </div>
</section>
<section id="list">
  <div class="pdf-container">
      <div class="row">
      <h1 class="text-center" aos-init aos-animate" data-aos="fade-down">Automatic PDF creation and editing <br>at your fingertips</h1>
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 mobile-hidden"></div>
        <div class="col-lg-2 col-md-10 col-sm-12 col-xs-12" data-aos="fade-up"
     data-aos-anchor-placement="center-center" data-aos-delay="100">
          <div class="list-img-1 list-back">
          </div>
          <h5 class="text-center">Add Pages</h5>
          <p class="text-center">Add new pages to documents</p>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up"
     data-aos-anchor-placement="center-center" data-aos-delay="200">
          <div class="list-img-2 list-back">
          </div>
          <h5 class="text-center">Delete Pages</h5>
          <p class="text-center">Remove pages that aren't needed</p>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up"
     data-aos-anchor-placement="center-center" data-aos-delay="300">
          <div class="list-img-3 list-back">
          </div>
          <h5 class="text-center">Add Headers $ Footers</h5>
          <p class="text-center">Pring titles or descriptions to the full document</p>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up"
     data-aos-anchor-placement="center-center" data-aos-delay="400">
          <div class="list-img-4 list-back">
          </div>
          <h5 class="text-center">Merge </h5>
          <p class="text-center">Merge PDFs into one document</p>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up"
     data-aos-anchor-placement="center-center" data-aos-delay="500">
          <div class="list-img-5 list-back">
          </div>
          <h5 class="text-center">Rotate</h5>
          <p class="text-center">Select individual pages or ranges</p>
        </div>
    </div>
  </div>
</section>
<section id="video">
  <div class="container">
    <h1 class="text-center section-title" aos-init aos-animate" data-aos="fade-down">How it works</h1> 
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 video-container">             
    <iframe title="WordParts Value Proposition" allowfullscreen="allowfullscreen" src="https://www.youtube-nocookie.com/embed/vi6K7XF-6eg?rel=0&controls=0&showinfo=0" width="100%"></iframe>
    </div>  
    <div data-aos="fade-up">
    <%= link_to 'Start your free trial Today!', membership_path, class: 'btn pdf-btn font-weight-bold' %>
    </div>
  </div>
</section>
<section id="zapier-new" class="orange-pattern ">
  <div class="pdf-container">
    <h1 aos-init aos-animate" data-aos="fade-down">New to Zapier</h1>
    <p aos-init aos-animate" data-aos="fade-up">Try PDF ZapMe and we'll make your free Zapier profile automatically!</p>
    <div class="aos-init aos-animate" data-aos="fade-up">
    <%= link_to 'Try for free', membership_path, class: 'btn black-btn' %>
    </div>
  </div>
</section>
<section id="pricing" class="text-center">
  <div class="container">
    <h1 class="section-title aos-init aos-animate" data-aos="fade-down">Very Affordable Pricing</h1>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-aos="fade-right">
                <h2 class="card-title price" data-aos="zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-delay="300">
                  <span><span class="currency">$</span>6</span>
                </h2>
                <div class="card">
                  <div class="card-block red-pattern">
                    <h2 class="card-title text-center">Per Month</h2>
                    <p class="card-text text-center">Try it out for 14 days free!</p>
                  </div>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item text-center">Zapier Account Creation</li>
                      <li class="list-group-item">Generate Zapier API</li>
                      <li class="list-group-item">Edit PDFs in Zapier</li>
                      <li class="list-group-item">Monthly Analytics</li>
                  </ul>
                  <div class="card-block card-btn red-pattern">
                       <%= link_to 'Start your trial today!', signup_path, class: 'btn font-weight-bold' %>
                  </div>
                </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-aos="fade-left">
          <h2 class="card-title price" data-aos="zoom-in" data-aos-offset="400" data-aos-easing="ease-in-sine" data-aos-duration="600" data-aos-delay="600">
            <span class="pricing-free">2</span>
          </h2>
          <div class="card">
            <div class="card-block red-pattern">
              <h2 class="card-title text-center">MONTHS FREE</h2>
              <p class="card-text text-center">Get 2 months free!</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Zapier Account Creation</li>
                <li class="list-group-item">Generate Zapier API</li>
                <li class="list-group-item">Edit PDFs in Zapier</li>
                <li class="list-group-item">Monthly Analytics</li>
            </ul>
            <div class="card-block red-pattern">
                <%= link_to 'Get Started', signup_path, class: 'btn font-weight-bold' %>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>