<section id="account-header" class="text-center">
	<div class="container">
		<h1>Welcome,User</h1>
		<p>Here's your Zapier API Key. Click on it to copy it to your clipboard</p>
		<div class="text-center">
			<button class="go-zapier">MNKJERERERKDFDFSDFDFDSFFFFD</button>	
		</div>
		<div class="text-center go-zapier-con">
			<button class="btn pdf-btn">Go To Zapier.com</button>
		</div>
	</div>
</section>
<section id="billing">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ul class="nav nav-tabs nav-tabs--horizontal nav-tabs--left" role="navigation">
					<li class="nav-item">
						<a href="#profile" class="nav-link nav-account" data-toggle="tab" role="tab" aria-controls="api">My Account</a>
					</li>
					<li class="nav-item">
						<a href="#profile" class="nav-link" data-toggle="tab" role="tab" aria-controls="profile">Edit Profile</a>
					</li>

					<li class="nav-item">
						<a href="#profile" class="nav-link" data-toggle="tab" role="tab" aria-controls="profile">Change Password</a>
					</li>
					<li class="nav-item">
						<a href="#bill-info"" class="nav-link" data-toggle="tab" role="tab" aria-controls="bill-info">Update Billing Info</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="tab-content">
					<div class="tab-pane fadein show active" id="profile" role="tabpanel">
						<div class="container">
						   <h1>My profile</h1>
						   <div class="row">
							   	<div class="col-lg-4 col-xs-12">
								  <div class="form-group">
								    <label for="useremail">EMAIL ADDRESS</label>
								    <input type="email" class="form-control" id="useremail" placeholder="hello@example">
								  </div>
							   	</div>
							   	<div class="col-lg-4 col-xs-12">
								  <div class="form-group">
								    <label for="firstname">First Name</label>
								    <input type="text" class="form-control" id="firstname" placeholder="john">
								  </div>
							   	</div>
							   	<div class="col-lg-4 col-xs-12">
								  <div class="form-group">
								    <label for="lastname">Last Name</label>
								    <input type="text" class="form-control" id="lastname" placeholder="Doe">
								  </div>
								</div>
						   </div>
						   <div class="row">
						   		<div class="col-lg-6 col-xs-12">
								  <div class="form-group">
								    <label for="changeps">EMAIL ADDRESS</label>
								    <input type="password" class="form-control" id="changeps" placeholder="">
								  </div>
						   		</div>
						   		<div class="col-lg-6 col-xs-12">
								  <div class="form-group">
								    <label for="confirmps">EMAIL ADDRESS</label>
								    <input type="password" class="form-control" id="confirmps" placeholder="">
								  </div>
						   		</div>
						   </div>
						   <button class="btn pdf-btn">Update Profile</button>
						 </div>
					</div>

					<div class="tab-pane fade" id="profile" role="tabpanel">
						<div class="card">
						  <div class="card-header">
						    <h1>Profile</h1>
						  </div>
						  <div class="card-block">
						  	<form>
							  <div class="form-group">
							    <label for="exampleInputName">Name</label>
							    <input type="text" class="form-control" id="exampleInputName" aria-describedby="name" >
							  </div>
							  <div class="form-group">
							    <label for="exampleInputEmail1">Email address</label>
							    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
							    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
							  </div>
							  <div class="form-group">
							    <label for="exampleInputPassword1">Password</label>
							    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							  </div>
							  <div class="form-group">
							    <label for="confirmPassword1">Confirm Password</label>
							    <input type="password" class="form-control" id="confirmPassword1" placeholder="Confirm Password">
							  </div>
							  <div class="form-check">
							    <input type="checkbox" class="form-check-input" id="exampleCheck1">
							    <label class="form-check-label" for="exampleCheck1">Check me out</label>
							  </div>
						  	<button type="submit" class="btn membership-btn btn-block">Save</button>
							</form>
						  </div>
						</div>
						
					</div>
					<div class="tab-pane fade" id="bill-info" role="tabpanel">
						<div class="card text-center">
						  <div class="card-header">
						   <h1> Update Billing info</h1>
						  </div>
						  <div class="card-block current-block">
						  	<div class="row">
						  		<h4>Current Plans</h4>
						  		<p>Monthly
								$6 per month</p>
								<button class="btn membership-btn" type="button">Renew</button>
								<button class="btn membership-btn">Update Billing Info </button>
								<button class="btn membership-btn">Change</button>
								<button class="btn membership-btn">Cancel</button>
								<button class="btn membership-btn">View all Membership Options</button>
						  	</div>
						  </div>
						  <div class="card-block">
						    	<h4>Billing Information</h4>
								<p>$0.00 now and then $6.00 per Month. after your 14 day trial.</p>
						    	<button class="btn membership-btn">View Transaction History </button>
						    	<button class="btn membership-btn">Manage Payment Methods</button>
						  </div>
						  <div class="card-block">
						    	<h4>Expiration</h4>
						    	<p>	February 25, 2018</p>
						  </div>
						</div>
					</div>
					<div class="tab-pane fade" id="past" role="tabpanel">
						<div class="card text-center">
						  <div class="card-header">
						    <h1>Past Invoices</h1>
						  </div>
						  <div class="card-block">
						    <h4 class="card-title">Date</h4>
						    <p class="card-text">Date	Level	Amount January 28, 2018</p>
						
						  </div>
						  <div class="card-block">
						    <h4 class="card-title">Level</h4>
						    <p class="card-text">Monthly</p>
						  </div>
						  <div class="card-block">
						    <h4 class="card-title">Amount</h4>
						    <p class="card-text">$0.00</p>
						  </div>
						</div>
					</div>
					<div class="tab-pane fade" id="payment" role="tabpanel">
						<div class="card text-center">
						  <div class="card-header">
						    <h1>Payment & Financials</h1>
						  </div>
						  <div class="card-block">
						    <h4 class="card-title">Payment Methods</h4>
						    <button class="btn membership-btn">+ Payment Method </button>
						
						  </div>
						  <div class="card-block">
						    <h4 class="card-title">Finance Settings</h4>
						    <div class="form-group currency">
						    	<label for="currency">My Currency</label>
							    <select class="form-control" id="currency">
								  <option>USD</option>
								  <option>CAD</option>
								  <option>AUD</option>
								  <option>EUR</option>
								</select>
							</div>
						    <div class="row">
								  <div class="col-sm-4">
								    <input type="text" class="form-control" placeholder="Tax-type">
								  </div>
								  <div class="col-sm-4">
								    <input type="text" class="form-control" placeholder="Rate">
								  </div>
								  <div class="col-sm-4">
								    <input type="text" class="form-control" placeholder="Tax Id">
								  </div>
							</div>
						  <button type="submit" class="btn membership-btn btn-block">Save settings</button>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="invoice">
	<div class="container">
		<ul class="nav nav-tabs nav-tabs--horizontal nav-tabs--left" role="navigation">
			<li class="nav-item">
				<a href="#profile" class="nav-link nav-account" data-toggle="tab" role="tab" aria-controls="api">Invoice History</a>
			</li>
			<li class="nav-item">
				<a href="#profile" class="nav-link" data-toggle="tab" role="tab" aria-controls="profile">Edit ProView All</a>
			</li>

			<li class="nav-item">
				<a href="#profile" class="nav-link" data-toggle="tab" role="tab" aria-controls="profile">Change Download as PDf</a>
			</li>
			<li class="nav-item">
				<a href="#bill-info"" class="nav-link" data-toggle="tab" role="tab" aria-controls="bill-info">
					Contact US
				</a>
			</li>
		</ul>
		<div class="invoicd-list">
			<div class="invoice-list-item" id="begining-invoice">
					<ul>
				  		<li class="item-icon text-center">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				        	<%= image_tag 'glyphicons-174-play.png', class: 'rotate-icon', alt: '' %>
				        </a></li>
				        <li class="item-date">janguary 28,2018</li>
				        <li class="item-month">Monthy</li>
				        <li class="item-price">$0.00</li>
				        <li class="item-download"></li>
				        <li class="item-print"></li>
				  	</ul>
					<div id="accordion" role="tablist" aria-multiselectable="true">
					    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
					      	<div class="card-block">
									<div class="row">
										<div class="col-lg-6">
											<h3>Invoice # 77571DBCA1 on January 28, 2018</h3>
											<p>Account:crex0207-2(crex@afraxis.com)</p>
											<p>Membership Level:Monthly</p>
											<p>Membership Expires: Febuary 25, 2018</p>
										</div>
										<div class="col-lg-6">
											<h3>Payment Method</h3>
											<p>American Express ending in 2008</p>
											<p>Expiration: 10/2018</p>
											<p>Total Billed: $0.00</p>
										</div>
									</div>
					      	</div>
					    </div>
					</div>
			</div>
			<div class="invoice-list-item">
					<ul>
				  		<li class="item-icon text-center">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
				        	<%= image_tag 'glyphicons-174-play.png', class: 'rotate-icon', alt: '' %>
				        </a></li>
				        <li class="item-date">janguary 28,2018</li>
				        <li class="item-month">Monthy</li>
				        <li class="item-price">$0.00</li>
				        <li class="item-download"></li>
				        <li class="item-print"></li>
				  	</ul>
					<div id="accordion" role="tablist" aria-multiselectable="true">
					    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
					      	<div class="card-block">
									<div class="row">
										<div class="col-lg-6">
											<h3>Invoice # 77571DBCA1 on January 28, 2018</h3>
											<p>Account:crex0207-2(crex@afraxis.com)</p>
											<p>Membership Level:Monthly</p>
											<p>Membership Expires: Febuary 25, 2018</p>
										</div>
										<div class="col-lg-6">
											<h3>Payment Method</h3>
											<p>American Express ending in 2008</p>
											<p>Expiration: 10/2018</p>
											<p>Total Billed: $0.00</p>
										</div>
									</div>
					      	</div>
					    </div>
					</div>
			</div>
			<div class="invoice-list-item">
					<ul>
				  		<li class="item-icon text-center">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
				        	<%= image_tag 'glyphicons-174-play.png', class: 'rotate-icon', alt: '' %>
				        </a></li>
				        <li class="item-date">janguary 28,2018</li>
				        <li class="item-month">Monthy</li>
				        <li class="item-price">$0.00</li>
				        <li class="item-download"></li>
				        <li class="item-print"></li>
				  	</ul>
					<div id="accordion" role="tablist" aria-multiselectable="true">
					    <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
					      	<div class="card-block">
									<div class="row">
										<div class="col-lg-6">
											<h3>Invoice # 77571DBCA1 on January 28, 2018</h3>
											<p>Account:crex0207-2(crex@afraxis.com)</p>
											<p>Membership Level:Monthly</p>
											<p>Membership Expires: Febuary 25, 2018</p>
										</div>
										<div class="col-lg-6">
											<h3>Payment Method</h3>
											<p>American Express ending in 2008</p>
											<p>Expiration: 10/2018</p>
											<p>Total Billed: $0.00</p>
										</div>
									</div>
					      	</div>
					    </div>
					</div>
			</div>
			<div class="invoice-list-item">
					<ul>
				  		<li class="item-icon text-center">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
				        	<%= image_tag 'glyphicons-174-play.png', class: 'rotate-icon', alt: '' %>
				        </a></li>
				        <li class="item-date">janguary 28,2018</li>
				        <li class="item-month">Monthy</li>
				        <li class="item-price">$0.00</li>
				        <li class="item-download"></li>
				        <li class="item-print"></li>
				  	</ul>
					<div id="accordion" role="tablist" aria-multiselectable="true">
					    <div id="collapseFour" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
					      	<div class="card-block">
									<div class="row">
										<div class="col-lg-6">
											<h3>Invoice # 77571DBCA1 on January 28, 2018</h3>
											<p>Account:crex0207-2(crex@afraxis.com)</p>
											<p>Membership Level:Monthly</p>
											<p>Membership Expires: Febuary 25, 2018</p>
										</div>
										<div class="col-lg-6">
											<h3>Payment Method</h3>
											<p>American Express ending in 2008</p>
											<p>Expiration: 10/2018</p>
											<p>Total Billed: $0.00</p>
										</div>
									</div>
					      	</div>
					    </div>
					</div>
			</div>
			<div class="invoice-list-item">
					<ul>
				  		<li class="item-icon text-center">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				        	<%= image_tag 'glyphicons-174-play.png', class: 'rotate-icon', alt: '' %>
				        </a></li>
				        <li class="item-date">janguary 28,2018</li>
				        <li class="item-month">Monthy</li>
				        <li class="item-price">$0.00</li>
				        <li class="item-download"></li>
				        <li class="item-print"></li>
				  	</ul>
					<div id="accordion" role="tablist" aria-multiselectable="true">
					    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
					      	<div class="card-block">
									<div class="row">
										<div class="col-lg-6">
											<h3>Invoice # 77571DBCA1 on January 28, 2018</h3>
											<p>Account:crex0207-2(crex@afraxis.com)</p>
											<p>Membership Level:Monthly</p>
											<p>Membership Expires: Febuary 25, 2018</p>
										</div>
										<div class="col-lg-6">
											<h3>Payment Method</h3>
											<p>American Express ending in 2008</p>
											<p>Expiration: 10/2018</p>
											<p>Total Billed: $0.00</p>
										</div>
									</div>
					      	</div>
					    </div>
					</div>
			</div>
		</div>
			<!-- ////////////////////// -->
			
			<!-- ///////////// -->
	</div>
</section>