<% provide(:title, "Account") %>
<section id="account-header" class="text-center">
	<div class="container">
		<h1>Welcome,User</h1>
		<p>Here's your Zapier API Key. Click on it to copy it to your clipboard</p>
		<div class="text-center">
			<button class="go-zapier">MNKJERERERKDFDFSDFDFDSFFFFD</button>	
		</div>
		<div class="text-center go-zapier-con">
			<button class="btn pdf-btn">Go To Zapier.com</button>
		</div>
	</div>
</section>
<section id="billing">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ul class="nav nav-tabs nav-tabs--horizontal nav-tabs--left" role="navigation">
					<li class="nav-item">
						<a href="#profile" class="nav-link nav-account" data-toggle="tab" role="tab" aria-controls="api">
							<h2>My Account</h2></a>
						</li>
						<li class="nav-item active font-weight-bold ">
							<a href="#profile" class="nav-link" data-toggle="tab" role="tab" aria-controls="profile"><h5>Edit Profile</h5></a>
						</li>

						<li class="nav-item">
							<a href="#profile" class="nav-link" data-toggle="tab" role="tab" aria-controls="profile"><h5>Change Password</h5></a>
						</li>
						<li class="nav-item">
							<a href="#bill-info"" class="nav-link" data-toggle="tab" role="tab" aria-controls="bill-info"><h5>Update Billing Info</h5></a>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="tab-content">
						<div class="tab-pane fadein show active" id="profile" role="tabpanel">
							<div class="container">
								<span class="billing-title">My profile</span>
								<div class="row">
									<div class="col-lg-4 col-xs-12">
										<div class="form-group">
											<label for="useremail">EMAIL ADDRESS</label>
											<input type="email" class="form-control" id="useremail" placeholder="hello@example">
										</div>
									</div>
									<div class="col-lg-4 col-xs-12">
										<div class="form-group">
											<label for="firstname">First Name</label>
											<input type="text" class="form-control" id="firstname" placeholder="john">
										</div>
									</div>
									<div class="col-lg-4 col-xs-12">
										<div class="form-group">
											<label for="lastname">Last Name</label>
											<input type="text" class="form-control" id="lastname" placeholder="Doe">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 col-xs-12">
										<div class="form-group">
											<label for="changeps">CHANGE PASSWORD</label>
											<input type="password" class="form-control" id="changeps" placeholder="">
										</div>
									</div>
									<div class="col-lg-6 col-xs-12">
										<div class="form-group">
											<label for="confirmps">RETYPE PASSWORD</label>
											<input type="password" class="form-control" id="confirmps" placeholder="">
										</div>
									</div>
								</div>
								<button class="btn ">Update Profile</button>
							</div>
						</div>
						<div class="tab-pane fade" id="profile" role="tabpanel">
							<div class="container">
								<%= image_tag 'glyphicons-174-play.png', class: 'rotate-icon', alt: '' %>
								<span class="billing-title">My profile</span>
								<div class="row">
									<div class="col-lg-4 col-xs-12">
										<div class="form-group">
											<label for="useremail">EMAIL ADDRESS</label>
											<input type="email" class="form-control" id="useremail" placeholder="hello@example">
										</div>
									</div>
									<div class="col-lg-4 col-xs-12">
										<div class="form-group">
											<label for="firstname">First Name</label>
											<input type="text" class="form-control" id="firstname" placeholder="john">
										</div>
									</div>
									<div class="col-lg-4 col-xs-12">
										<div class="form-group">
											<label for="lastname">Last Name</label>
											<input type="text" class="form-control" id="lastname" placeholder="Doe">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 col-xs-12">
										<div class="form-group">
											<label for="changeps">CHANGE PASSWORD</label>
											<input type="password" class="form-control" id="changeps" placeholder="">
										</div>
									</div>
									<div class="col-lg-6 col-xs-12">
										<div class="form-group">
											<label for="confirmps">RETYPE PASSWORD</label>
											<input type="password" class="form-control" id="confirmps" placeholder="">
										</div>
									</div>
								</div>
								<button class="btn ">Update Profile</button>
							</div>
						</div>
						<div class="tab-pane fade" id="bill-info" role="tabpanel">
							<div class="container">
<!-- 								<%= image_tag 'glyphicons-174-play.png', class: 'rotate-icon', alt: '' %>
 -->								<span class="billing-title">BILLING INFORMATION</span>
								<div class="row">
									<div class="col-lg-6 col-xs-12">
										<div class="form-group">
											<label for="card-name">NAME AS IT APPEARS ON YOUR CARD</label>
											<input type="text" class="form-control" id="card-name" placeholder="Jonathan A doe">
										</div>
									</div>
									<div class="col-lg-6 col-xs-12">
										<div class="form-group">
											<label for="card-number">card name</label>
											<input type="number" class="form-control" id="card-number" placeholder="**** **** **** 8888">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3 col-xs-12">
										<div class="form-group">
											<label for="security-code">security code</label>
											<input type="password" class="form-control" id="security-code" placeholder="***">
										</div>
									</div>
									<div class="col-lg-3 col-xs-12">
										<div class="form-group">
											<label for="expiration-date">expiration date</label>
											<input type="text" class="form-control" id="expiration-date" placeholder="01/23">
										</div>
									</div>
									<div class="col-lg-4 col-xs-12 payment-container" style="margin-top: 30px">
							            <span class="payment" style="margin-left: 15px"><a href="#"><%= image_tag 'Visa.png', class: 'visa', alt: 'visa' %></a></span>
							            <span class="payment" style="margin-left: 15px"><a href="#"><%= image_tag 'Mastercard.png', class: 'master', alt: 'master' %></a></span>
							            <span class="payment" style="margin-left: 15px"><a href="#"><%= image_tag 'discover.png', class: 'express', alt: 'express' %></a></span>
							            <span class="payment" style="margin-left: 15px"><a href="#"><%= image_tag 'amex.png', class: 'discover', alt: 'discover' %></a></span>
						   			</div>
									<div class="col-lg-2 col-xs-12">
										<label for="expiration-date"></label>
										<button class="btn " style="margin-top: 5px">Update Billing</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="invoice">
		<div class="container">
			<ul class="nav nav-tabs nav-tabs--horizontal nav-tabs--left" role="navigation">
				<li class="nav-item">
					<a href="#profile" class="nav-link nav-account" data-toggle="tab" role="tab" aria-controls="api">
						<h2>Invoice History</h2></a>
					</li>
					<li class="nav-item">
						<a href="#begining-invoice" class="nav-link" data-toggle="tab" role="tab" aria-controls="begining-invoice"><h5>View All</h5></a>
					</li>

					<li class="nav-item">
						<a href="#begining-invoice" class="nav-link" data-toggle="tab" role="tab" aria-controls="begining-invoice"><h5>Download as PDF</h5></a>
					</li>
					<li class="nav-item">
						<a href="#bill-info"" class="nav-link" data-toggle="tab" role="tab" aria-controls="bill-info">
							<h5>Contact US</h5>
						</a>
					</li>
				</ul>
				<div class="invoice-list">
					<div class="row">
						<div class="title-date">Date</div>
						<div class="title-membership">Membership Level</div>
						<div class="title-billed">Total Billed</div>
					</div>
					<div class="invoice-list-item" id="begining-invoice">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<ul>
								<li class="item-date"><span>janguary 28,2018</span></li>
								<li class="item-month"><span>Monthy</span></li>
								<li class="item-price"><span>$0.00</span></li>
							</ul>
						</a>

						<div id="accordion" role="tablist" aria-multiselectable="true">
							<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
								<div class="card-block">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<h3>Invoice # 77571DBCA1 on January 28, 2018</h3>
											<p>Account:crex0207-2(crex@afraxis.com)</p>
											<p>Membership Level:Monthly</p>
											<p>Membership Expires: Febuary 25, 2018</p>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<h3>Payment Method</h3>
											<p>American Express ending in 2008</p>
											<p>Expiration: 10/2018</p>
											<p>Total Billed: $0.00</p>
										</div>
									</div>
									<div class="right-side"><a href="#" class="invoice-button black-pattern w-inline-block">
										 <%= image_tag 'Print.svg', class: 'invoice-button-icon', alt: '' %></a>
										 <a href="#" class="invoice-button black-pattern w-inline-block">
										 <%= image_tag 'Download.svg', class: 'invoice-button-icon', alt: '' %></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="invoice-list-item">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapseOne">
							<ul>
								<li class="item-date"><span>Feburary 28,2018</span></li>
								<li class="item-month"><span>Monthy</span></li>
								<li class="item-price"><span>$0.00</span></li>
							</ul>
						</a>

						<div id="accordion" role="tablist" aria-multiselectable="true">
							<div id="collapse2" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
								<div class="card-block">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<h3>Invoice # 77571DBCA1 on January 28, 2018</h3>
											<p>Account:crex0207-2(crex@afraxis.com)</p>
											<p>Membership Level:Monthly</p>
											<p>Membership Expires: Febuary 25, 2018</p>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<h3>Payment Method</h3>
											<p>American Express ending in 2008</p>
											<p>Expiration: 10/2018</p>
											<p>Total Billed: $0.00</p>
										</div>
									</div>
									<div class="right-side"><a href="#" class="invoice-button black-pattern w-inline-block">
										 <%= image_tag 'Print.svg', class: 'invoice-button-icon', alt: '' %></a>
										 <a href="#" class="invoice-button black-pattern w-inline-block">
										 <%= image_tag 'Download.svg', class: 'invoice-button-icon', alt: '' %></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="invoice-list-item">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapseOne">
							<ul>
								<li class="item-date"><span>May 23,2018</span></li>
								<li class="item-month"><span>Monthy</span></li>
								<li class="item-price"><span>$0.00</span></li>
							</ul>
						</a>

						<div id="accordion" role="tablist" aria-multiselectable="true">
							<div id="collapse3" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
								<div class="card-block">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<h3>Invoice # 77571DBCA1 on January 28, 2018</h3>
											<p>Account:crex0207-2(crex@afraxis.com)</p>
											<p>Membership Level:Monthly</p>
											<p>Membership Expires: Febuary 25, 2018</p>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<h3>Payment Method</h3>
											<p>American Express ending in 2008</p>
											<p>Expiration: 10/2018</p>
											<p>Total Billed: $0.00</p>
										</div>
									</div>
									<div class="right-side"><a href="#" class="invoice-button black-pattern w-inline-block">
										 <%= image_tag 'Print.svg', class: 'invoice-button-icon', alt: '' %></a>
										 <a href="#" class="invoice-button black-pattern w-inline-block">
										 <%= image_tag 'Download.svg', class: 'invoice-button-icon', alt: '' %></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="invoice-list-item" >
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapseOne">
							<ul>
								<li class="item-date"><span>May 22,2018</span></li>
								<li class="item-month"><span>Monthy</span></li>
								<li class="item-price"><span>$0.00</span></li>
							</ul>
						</a>

						<div id="accordion" role="tablist" aria-multiselectable="true">
							<div id="collapse4" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
								<div class="card-block">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<h3>Invoice # 77571DBCA1 on January 28, 2018</h3>
											<p>Account:crex0207-2(crex@afraxis.com)</p>
											<p>Membership Level:Monthly</p>
											<p>Membership Expires: Febuary 25, 2018</p>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<h3>Payment Method</h3>
											<p>American Express ending in 2008</p>
											<p>Expiration: 10/2018</p>
											<p>Total Billed: $0.00</p>
										</div>
									</div>
									<div class="right-side"><a href="#" class="invoice-button black-pattern w-inline-block">
										 <%= image_tag 'Print.svg', class: 'invoice-button-icon', alt: '' %></a>
										 <a href="#" class="invoice-button black-pattern w-inline-block">
										 <%= image_tag 'Download.svg', class: 'invoice-button-icon', alt: '' %></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="invoice-list-item">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapseOne">
							<ul>
								<li class="item-date"><span>janguary 28,2018</span></li>
								<li class="item-month"><span>Monthy</span></li>
								<li class="item-price"><span>$0.00</span></li>
							</ul>
						</a>

						<div id="accordion" role="tablist" aria-multiselectable="true">
							<div id="collapse5" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
								<div class="card-block">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<h3>Invoice # 77571DBCA1 on January 28, 2018</h3>
											<p>Account:crex0207-2(crex@afraxis.com)</p>
											<p>Membership Level:Monthly</p>
											<p>Membership Expires: Febuary 25, 2018</p>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<h3>Payment Method</h3>
											<p>American Express ending in 2008</p>
											<p>Expiration: 10/2018</p>
											<p>Total Billed: $0.00</p>
										</div>
									</div>
									<div class="right-side"><a href="#" class="invoice-button black-pattern w-inline-block">
										 <%= image_tag 'Print.svg', class: 'invoice-button-icon', alt: '' %></a>
										 <a href="#" class="invoice-button black-pattern w-inline-block">
										 <%= image_tag 'Download.svg', class: 'invoice-button-icon', alt: '' %></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="invoice-list-item" >
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapseOne">
							<ul>
								<li class="item-date"><span>janguary 28,2018</span></li>
								<li class="item-month"><span>Monthy</span></li>
								<li class="item-price"><span>$0.00</span></li>
							</ul>
						</a>

						<div id="accordion" role="tablist" aria-multiselectable="true">
							<div id="collapse6" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
								<div class="card-block">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<h3>Invoice # 77571DBCA1 on January 28, 2018</h3>
											<p>Account:crex0207-2(crex@afraxis.com)</p>
											<p>Membership Level:Monthly</p>
											<p>Membership Expires: Febuary 25, 2018</p>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<h3>Payment Method</h3>
											<p>American Express ending in 2008</p>
											<p>Expiration: 10/2018</p>
											<p>Total Billed: $0.00</p>
										</div>
									</div>
									<div class="right-side"><a href="#" class="invoice-button black-pattern w-inline-block">
										 <%= image_tag 'Print.svg', class: 'invoice-button-icon', alt: '' %></a>
										 <a href="#" class="invoice-button black-pattern w-inline-block">
										 <%= image_tag 'Download.svg', class: 'invoice-button-icon', alt: '' %></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="invoice-list-item" >
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapseOne">
							<ul>
								<li class="item-date"><span>janguary 28,2018</span></li>
								<li class="item-month"><span>Monthy</span></li>
								<li class="item-price"><span>$0.00</span></li>
							</ul>
						</a>

						<div id="accordion" role="tablist" aria-multiselectable="true">
							<div id="collapse7" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
								<div class="card-block">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<h3>Invoice # 77571DBCA1 on January 28, 2018</h3>
											<p>Account:crex0207-2(crex@afraxis.com)</p>
											<p>Membership Level:Monthly</p>
											<p>Membership Expires: Febuary 25, 2018</p>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<h3>Payment Method</h3>
											<p>American Express ending in 2008</p>
											<p>Expiration: 10/2018</p>
											<p>Total Billed: $0.00</p>
										</div>
									</div>
									<div class="right-side"><a href="#" class="invoice-button black-pattern w-inline-block">
										 <%= image_tag 'Print.svg', class: 'invoice-button-icon', alt: '' %></a>
										 <a href="#" class="invoice-button black-pattern w-inline-block">
										 <%= image_tag 'Download.svg', class: 'invoice-button-icon', alt: '' %></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="invoice-list-item" >
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapseOne">
							<ul>
								<li class="item-date"><span>janguary 28,2018</span></li>
								<li class="item-month"><span>Monthy</span></li>
								<li class="item-price"><span>$0.00</span></li>
							</ul>
						</a>

						<div id="accordion" role="tablist" aria-multiselectable="true">
							<div id="collapse8" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
								<div class="card-block">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<h3>Invoice # 77571DBCA1 on January 28, 2018</h3>
											<p>Account:crex0207-2(crex@afraxis.com)</p>
											<p>Membership Level:Monthly</p>
											<p>Membership Expires: Febuary 25, 2018</p>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<h3>Payment Method</h3>
											<p>American Express ending in 2008</p>
											<p>Expiration: 10/2018</p>
											<p>Total Billed: $0.00</p>
										</div>
									</div>
									<div class="right-side"><a href="#" class="invoice-button black-pattern w-inline-block">
										 <%= image_tag 'Print.svg', class: 'invoice-button-icon', alt: '' %></a>
										 <a href="#" class="invoice-button black-pattern w-inline-block">
										 <%= image_tag 'Download.svg', class: 'invoice-button-icon', alt: '' %></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					</section>