<% provide(:title, "Register") %>
<section id="register">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<span class="register-title">Let's get it started in here</span>
                 <%= image_tag 'emotion.png', class: 'happy-emoj', alt: '' %>
				<p>You're just seconds away from your free trial access to all our features, automations and more.</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="tab-content membership-level">
					<div class="tab-pane fadein show active" id="profile" role="tabpanel">
						<div class="container">
				        	<%= image_tag 'glyphicons-174-play.png', class: 'rotate-icon', alt: '' %>
						   <span class="billing-title">Membership Level</span>
						   <p>You have selected the <strong>Monthly </strong> membership level.</p>
						   <p>Pay a Monthly Fee for PDF ZapMe.</p>
						   <p>The price for membership is <strong>$6.00 per Month.</strong> after your 14 day trial.</p>
						 </div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="tab-content">
					<div class="tab-pane fadein show active" id="profile" role="tabpanel">
						<div class="container">
				        	<%= image_tag 'glyphicons-174-play.png', class: 'rotate-icon', alt: '' %>
						   <span class="billing-title">My Billing info</span>
						   <div class="row">
							   	<div class="col-lg-6 col-xs-12">
								  <div class="form-group">
								    <label for="name_bill">name as it appears on your card</label>
								    <input type="text" class="form-control" id="name_bill" placeholder="hello@example">
								  </div>
							   	</div>
							   	<div class="col-lg-6 col-xs-12">
								  <div class="form-group">
								    <label for="card_number">card number</label>
								    <input type="text" class="form-control" id="card_number" placeholder="**** **** **** 8888">
								  </div>
							   	</div>
						   </div>
						   <div class="row">
						   		<div class="col-lg-3 col-xs-12">
								  <div class="form-group">
								    <label for="security_code">security code</label>
								    <input type="text" class="form-control" id="security_code" placeholder="***">
								  </div>
						   		</div>
						   		<div class="col-lg-3 col-xs-12">
								  <div class="form-group">
								    <label for="expiration">expiration date</label>
								    <input type="text" class="form-control" id="expiration" placeholder="01/23">
								  </div>
						   		</div>
						   		<div class="col-lg-4 col-xs-12 payment-container">
						            <span class="payment"><%= image_tag 'Visa.png', class: 'visa', alt: 'visa' %></span>
						            <span class="payment"><%= image_tag 'Mastercard.png', class: 'master', alt: 'master' %></span>
						            <span class="payment"><%= image_tag 'discover.png', class: 'express', alt: 'express' %></span>
						            <span class="payment"><%= image_tag 'amex.png', class: 'discover', alt: 'discover' %></span>
						   		</div>
						   		<div class="col-lg-2 col-xs-12 confirm">
         		 				<%= link_to 'Confirm ', confirm_path, class: 'btn black-btn' %>
						   		</div>
						   </div>
						 </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>