</div>
<footer>
  <section id="about-us" class="red-pattern">
    <div class="pdf-container desktop-version">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <%= image_tag 'footer-logo.png', class: 'img-responsive', alt: 'try pdfzapier' %>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 text-right">
            <span class="find-us">Find us on</span>
            <span class="social-link"><a href="https://zapier.com/apps/integrations"><%= image_tag 'round-icon.png', class: '', alt: '' %></a></span>
            <span class="social-link"><a href="https://twitter.com/PDFZapMe"><%= image_tag 'twitter-icon.png', class: '', alt: '' %></a></span>
            <span class="social-link"><a href="https://www.linkedin.com/in/pdf-zapme-b18614156/"><%= image_tag 'linkedin-icon.png', class: '', alt: '' %></a></span>
            <span class="social-link"><a href="mailto:info@pdfzap.me"><%= image_tag 'mail-icon.png', class: '', alt: '' %></a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="pdf-container mobile-version">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
              <%= image_tag 'footer-logo.png', class: 'img-responsive', alt: 'try pdfzapier' %>
          </div>
          <div class="col-xs-12 text-center find-us-on">
            <h3 class="find-us">Find us on</h3>
            <span class="social-link"><a href="https://zapier.com/apps/integrations"><%= image_tag 'round-icon.png', class: '', alt: '' %></a></span>
            <span class="social-link"><a href="https://twitter.com/PDFZapMe"><%= image_tag 'twitter-icon.png', class: '', alt: '' %></a></span>
            <span class="social-link"><a href="https://www.linkedin.com/in/pdf-zapme-b18614156/"><%= image_tag 'linkedin-icon.png', class: '', alt: '' %></a></span>
            <span class="social-link"><a href="mailto:info@pdfzap.me"><%= image_tag 'mail-icon.png', class: '', alt: '' %></a></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="bottom-footer" class="desktop-version black-pattern">
    <div class="pdf-container">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 cols-sm-8 col-xs-12">
          <div class="copyright">
            © 2017 PDF ZapMe | All Rights Reserved | <%= link_to 'Terms & Conditions |', terms_path, class: 'terms' %> <%= link_to 'Privacy', privacy_path, class: 'Privacy' %>
          </div>
        </div>
        <div class="col-lg-4 col-md-4  cols-sm-4 col-xs-12">
          <ul class="text-right">
            <li><%= link_to 'Login', login_path %></li>|
            <li><%= link_to 'Sign-up', signup_path %></li>|
            <li>Help</li>
          </ul>
        </div>
      </div>
      </div>
    </div>
  </section>
  <section id="bottom-footer" class="mobile-version black-pattern">
    <div class="pdf-container">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 cols-sm-8 col-xs-12">
          <div class="copyright text-center">
            © 2017 PDF ZapMe <br>
            All Rights Reserved | <%= link_to 'Terms & Conditions |', terms_path, class: 'terms' %> <%= link_to 'Privacy', privacy_path, class: 'Privacy' %>
          </div>
        </div>
        <div class="col-xs-12">
          <ul class="text-center">
            <li><%= link_to 'Login |', login_path %></li>
            <li><%= link_to 'Sign-up |', signup_path %></li>
            <li>Help</li>
          </ul>
        </div>
      </div>
      </div>
    </div>
  </section>
</footer>


<!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
  <script>
            AOS.init();
          </script>

  </body>
</html>